root = true

[*]
indent_style = tab
end_of_line = lf
insert_final_newline = true

[*.{java,jsp,html,xml}]

[*.less]

[*.js]

[*.json]
indent_style = space
indent_size = 2

[*.{sql,ctl}]
indent_style = space
indent_size = 2

[*.bat]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.rb]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
