@import (less) "bower_components/pure/pure-min.css";

@anchor_color: #3b8bba;
@anchor_color2: rgba(66, 184, 221, 0.9);

a {
	color: @anchor_color;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
	color: white;
	// border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

h1.title {
	margin-top: 37px;
	text-align: center;
}

.main-box {
	// align-content: center;
	// display: flex;
	// justify-content: space-around;
}

.main {
}

.home-menu {
}

.index-menu {
	position: relative;

	.index-menu-item {
		font-size: larger;

		a {
			display: block;
			line-height: 1.4em;
			min-height: 4em;
			width: 100%;
		}
	}

	.index-menu-item:nth-child(odd) {
		a {
			background: @anchor_color2;
			color: white;

			&:hover, &:focus {
				background: transparent;
				color: @anchor_color;
			}
		}
	}

	.index-menu-item:nth-child(even) {
		a {
			background: @anchor_color;
			color: white;

			&:hover, &:focus {
				background: transparent;
				color: @anchor_color;
			}
		}
	}
}

footer {
	border-top: 1px solid #eee;
	color: #999;
	font-size: 87.5%;
	margin-top: 3em;
	padding-top: 1px;
	text-transform: uppercase;

	a {
		color: inherit;
	}
}

.editing {
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid yellow;
	box-shadow: 0 0 1px yellow;
	display: inline-block;
	min-height: 1em;
	min-width: 5em;
}
// vim:set ft=css:
